<p>dashboard works!</p>
<div class="container">
    <div class="left-panel">
        <ul class="tree">
        <li *ngFor="let floor of floors">
            <span (click)="onFloorClick(floor)">
                <strong>{{floor.name}}</strong>
            </span>
            
      <p>This code is pending because of the time scarcity
        I have created the backend api and injected that in service , craeted front endcode to consume the 
    backend api, . the html code is pending because of the less time. thanks </p>
</div>
